[user]
	email = voroninman@gmail.com
	name = Viktor Voronin
[alias]
	logg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
