[user]
  name = Viktor Voronin
  email = voroninman@gmail.com

[color]
  ui = true

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log -n 10 --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[commit]
  template = ~/.git-commit-template
